
body
{
  background-color: white;
}
.bg-image {
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   
  }
.pic1 { background-image: url("img/pong.jpg"); }
.pic2 { background-image: url("img/Minefield.png"); }
.pic3 { background-image: url("img/five.webp"); }
.pic4 { background-image: url("img/Memory\ Puzzle.webp"); }
.pic5 { background-image: url("img/Sliding\ Puzzle.jpg"); }
.pic6 { background-image: url("img/Duck\ Hunt.png"); }
.pic7 { background-image: url("img/Yahtzee.jpg"); }

span{
    position:center ;
    text-align: center;
    color: brown;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 5px;
}
